    /* Website common area*/
    
    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
    }
    /* header area */
    
    header {
        background-color: #2D25A0;
        ;
    }
    /* navigation bar area */
    /* all buttons */
    
    .button-scnd {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        padding: 10px 24px;
        position: static;
        width: 168px;
        height: 44px;
        left: 156px;
        top: 21px;
        background-color: #E02C6D;
        font-size: 16px;
        color: white;
        font-weight: 500;
        text-decoration: none;
    }
    
    .button-thrd {
        width: 140px;
        height: 50px;
        font-size: 20px;
        color: whitesmoke;
        text-decoration: none;
        background-color: orangered;
        border-radius: 10px;
        padding: 20px;
    }
    
    .button-fourth {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        padding: 10px 24px;
        position: static;
        width: 168px;
        height: 44px;
        background-color: #E02C6D;
        font-size: 16px;
        margin-top: 20px;
        text-decoration: none;
        color: #FFFFFF;
    }
    
    .button-fourth:hover {
        background-color: orangered;
        border-radius: 30px;
        transform: scale(1.1em);
        transition: background-color, border-radius 1.5s ease-in 0.2s;
    }
    
    .button:hover {
        border-radius: 30px;
        transform: scale(1.1em);
        transition: border-radius 1.5s ease-in 0.2s;
    }
    
    .button-scnd:hover {
        border-radius: 30px;
        transform: scale(1.5em);
        transition: border-radius 1.5s ease 0.2s;
    }
    
    .half-width {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 79px;
    }
    
    .written {
        width: 485px;
        height: 230px;
        margin-left: 156px;
        margin-top: 213px;
        margin-bottom: 234px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 80px;
        color: white;
    }
    
    .written p {
        margin-bottom: 24px;
    }
    
    .half-width img {
        position: absolute;
        width: 556.01px;
        height: 438px;
        top: 153px;
    }
    
    main {
        margin-top: 70px;
        margin-left: 180px;
        margin-right: 210px;
    }
    /* players section */
    
    .players {
        display: grid;
        grid-template-columns: repeat(3, 1fr)
    }
    
    .player-info {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 474px;
        padding: 15px 15px 33px 15px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        overflow: hidden;
    }
    
    .player-info img {
        width: 300px;
        height: 256px;
        overflow: hidden;
    }
    
    .player-info img:hover {
        transform: scale(1.1);
        transition: transform 2s ease-in 0.1s;
    }
    
    .player-info p {
        width: 300px;
        height: 104px;
        top: 50px;
    }
    
    .player-name {
        text-align: left;
        padding-top: 16px;
        padding-bottom: 10px;
        font-size: 28px;
        line-height: 40px;
        font-weight: bold;
    }
    
    .player {
        margin-right: 30px;
        margin-bottom: 27px;
    }
    /*-------- highlight img
------------------------------ */
    
    article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 89px;
    }
    
    .highlight {
        width: 478px;
        height: 309px;
        left: 180px;
        margin-top: 224px;
    }
    
    .highlight h1 {
        font-size: 48px;
        line-height: 60px;
        font-weight: bold;
        color: #0A0826;
        ;
    }
    
    .highlight p {
        font-size: 16px;
        color: #6C6C6C;
        line-height: 28px;
    }
    
    article img {
        width: 567px;
        height: 427px;
        margin-top: 224px;
    }
    /* .covid-sec */
    
    .covid-sec {
        margin-top: 150px;
    }
    
    .header-covid {
        font-size: 26px;
        color: darkslategray;
    }
    
    .covid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        margin-top: 100px;
    }
    
    .covid-prb {
        height: 524px;
        width: 300px;
        border: 5px solid rgb(124, 73, 73);
        padding: 15px;
        box-shadow: 0px 0px 40px rgba(46, 43, 43, 0.15);
        overflow: hidden;
    }
    
    .covid-prb h4 {
        font-size: 24px;
        font-weight: bold;
        color: #18191F;
    }
    
    .covid-prb p {
        color: #6C6C6C;
        font-size: 16px;
    }
    
    .covid-prb img {
        width: 300px;
        height: 300px;
        position: absolute;
    }
    /*------ course -----*/
    
    .header-course {
        font-size: 26px;
        color: rgb(53, 42, 37);
        margin-top: 70px;
        margin-bottom: 70px;
        text-align: center;
    }
    
    .courses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
    /* footer */
    
    .logos {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0px;
        color: #969BAB;
        margin-right: 14px;
    }
    
    .logo img {
        width: 483.87px;
        height: 110px;
        margin: 20px 0px;
    }
    
    .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        padding: 0px;
        position: static;
        width: 170px;
        height: 32px;
        right: 156.94px;
        top: calc(50% - 32px/2 + 39.5px)
    }
    
    .copyright {
        position: static;
        left: 25.61%;
        right: 25.61%;
        top: 85.45%;
        bottom: 0%;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        /* or 133% */
        display: flex;
        align-items: center;
        text-align: right;
        color: #000000;
        margin: 20px 0px;
    }
    /* media query */
    /* mobile*/
    
    @media only screen and (max-width:688) {
        .container {
            width: 100%;
        }
        .button-scnd {
            width: 100%;
        }
        .flex {
            flex-direction: column;
        }
        .half-width {
            grid-template-columns: repeat(1, 1fr);
        }
        .player-info {
            flex-direction: column;
        }
        .players {
            grid-template-columns: repeat(1, 1fr);
        }
        .article {
            grid-template-columns: repeat(1, 1fr);
        }
        .icon {
            flex-direction: column;
        }
        .courses {
            grid-template-columns: repeat(1, 1fr);
        }
        .logos {
            flex-direction: row;
        }
        .covid {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    
    @media only screen and (min-width:688px) and (max-width:992px) {
        .container {
            width: 100%;
        }
        .flex {
            flex-direction: row;
        }
        .half-width {
            grid-template-columns: repeat(2, 1fr);
        }
        .player-info {
            flex-direction: row;
        }
        .players {
            grid-template-columns: repeat(2, 1fr);
        }
        .article {
            grid-template-columns: repeat(2, 1fr);
        }
        .icon {
            flex-direction: row;
        }
        .courses {
            grid-template-columns: repeat(2, 1fr);
        }
        .logos {
            flex-direction: column;
        }
        .covid {
            grid-template-columns: repeat(2, 1fr);
        }
    }